/* font-family: 'Montserrat', sans-serif;
font-family: 'Norican', cursive; */
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 700;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
}

.section-heading {
  font-size: 3rem;
}

.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.color-section {
  background-color: #e4508f;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Norican', cursive;
  font-size: 3rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Intro */
.phone-photo {
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Features */
#features {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: #e4508f;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #f857b5;
}

/* Testimonials */
.testimonial-text {
  font-size: 3rem;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */
#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Footer */
#footer .container-fluid {
  padding: 3% 15% 0px;
}

.media-icons {
  padding: 0 15px 15px;
}

@media (max-width:1028px) {
  body, #title .container-fluid {
    text-align: center;
  }

  .phone-photo {
    transform: rotate(0);
    position: static;
  }

  .download-button {
    margin: 5% 0;
  }
  
  .container-fluid .testimonial-text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
  
   }

